
/* Your CSS Code here. */
.holder {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.item {
	width: 100px;
    height: 100px;
    font-size: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:nth-child(1) { background-color: green; }
.item:nth-child(2) { background-color: red; }
.item:nth-child(3) { background-color: blue; }